@import url('https://fonts.googleapis.com/css2?family=Koulen&family=Roboto+Slab:wght@200;500&display=swap');

body {
    font-family: 'Koulen', cursive;
    font-family: 'Roboto Slab', serif;
}

html {
    font-size: 30px;
}
