@import url('https://fonts.googleapis.com/css2?family=Koulen&family=Roboto+Slab:wght@200;500&display=swap');

body {
<<<<<<< HEAD
    font-family: 'Koulen', cursive;
    font-family: 'Roboto Slab', serif;
=======
    background-color: white;
>>>>>>> af7b4ca (feat: Make player scores wrap)
    margin: 0;
}

html {
    font-size: 30px;
}
