.AnswerButton{
    padding: 8px;
    font-size: 0.6rem;
    background-color: white;
    border: 0;
    margin-top: 8px;
    min-width: 3rem;
}
.AnswerButton:hover{
    background-color: rgb(150, 150, 150);
}
.AnswerButton:focus{
    background-color: black;
    color: white;
}