.LoginButton {
    width: 30vw;
    height: 1.7em;

    margin: auto;
    position: relative;

    font-size: 1.5em;

    border: 2px solid black;
}

.LoginButton:hover {
    background-color: grey;
}