.UserInputTestingView {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;

    background-color: #aaa;

    .UserInputTestingView__grid {
        flex: 0 0 auto;
        position: relative;
        
        background-color: #fff;
    }
}

